body {
	width: 100%;
	height: 100%;
}

.slideshow .toc-hidden {
	display: none;
}

.slideshow .slide {
	display: none;
}

.slideshow .slide:target {
	display: block;
}

.slide {
	overflow: hidden;
}

.code {
	white-space: normal;
}

.code .line {
	display: table;
	table-layout: fixed;
}

.code .block {
	display: table-cell;
	position: relative;
	white-space: pre-wrap;
}

.code .indentation {
	display: block;
	position: absolute;
	left: 0;
}

.code .content {
	display: block;
}

.code .line:before {
	display: inline-block;
}
