body {
	width: 100%;
	height: 100%;
}

.slideshow .slide {
	display: none;
}

.slideshow .slide:target {
	/* Show current slide. */
	display: block;
}

.slideshow .slide {
	/* Hide other slides. */
	overflow: hidden;
}

.slideshow #toc h1 {
	/* Hide "Contents" title in TOC in slideshow mode. */
	display: none;
}

.slideshow #toc .hidden {
	/* Only hide TOC elements in slideshow mode. */
	display: none;
}

.slideshow #toc:target .hidden {
	/* ... unless we are currently showing the full TOC. */
	display: block;
}

.slideshow #toc:target #slide-number {
	/* Hide slide number when showing full TOC. */
	display: none;
}

#slide-number {
	float: right;
	position: relative;
	z-index: 1;
}

.handout #slide-number, .slideshow #help {
	display: none;
}

.code {
	white-space: normal;
}

.code .line {
	display: table;
	table-layout: fixed;
}

.code .number, .code .content {
	display: table-cell;
}

.code .content {
	position: relative;
	white-space: pre-wrap;
}

.code .indent {
	position: absolute;
	left: 0;
}

.code .text {
	display: inline-block;
}
