body {
	width: 100%;
	height: 100%;
}

@media screen {
	.slideshow .toc-hidden {
		display: none;
	}
	
	.slideshow .slide {
		display: none;
	}
	
	.slideshow .slide:target {
		display: block;
	}
}

@media print {
	.hidden {
		display: block;
		visibility: visible
	}
	
	div.toolbar {
		display: none;
		visibility: hidden;
	}
	
	div.slidy_toc {
		display: none;
		visibility: hidden;
	}
	
	div.background {
		display: none;
		visibility: hidden;
	}
	
	div.slide {
		page-break-inside: avoid;
	}
}
