@import url('FiraSans/font.css');
@import url('DejaVuSansMono/font.css');

body {
	margin: 0;
	font-family: 'Fira Sans', sans-serif;
}

a, a:visited {
	color: blue;
	text-decoration: none;
}

a:active {
	color: red;
}

a:hover {
	text-decoration: underline;
}

ul, ol {
	position: relative;
	padding-left: 2em;
}

li {
	list-style-type: none;
}

li:before {
	position: absolute;
	left: 0.7em;
}

ul > li:before {
	content: "–";
}

ol {
	counter-reset: ol;
}

ol > li:before {
	counter-increment: ol;
	content: counter(ol) ".";
}

.slideshow {
	font-size: 2vw;
}

.slide, #toc, #help {
	margin: 0;
	padding: 0 1em;
}

.slideshow #toc, #help {
	color: white;
	background-color: #22a;
	padding-top: 0.2em;
	padding-bottom: 0.2em;
}

.slideshow #toc a {
	color: white;
}

.slideshow #toc ul {
	margin: 0;
	padding-left: 1.5em;
	list-style-type: none;
}

.slideshow #toc > ul {
	padding-left: 0;
}

.slideshow #toc li:before {
	content: none;
}

.handout .slide {
	border-top: 2px solid #22a;
}

code, pre {
	font-family: 'DejaVu Sans Mono', monospace;
	font-size: 0.9em;
}

.code {
	counter-reset: line-number;
}

.code .line {
	counter-increment: line-number;
	line-height: 1.2em;
}

.code .number {
	vertical-align: top;
	text-align: right;
	min-width: 5ch;
}

.code .number:before {
	content: counter(line-number);
	color: gray;
	margin-right: 2ch;
}

.code .text {
	padding-left: 3ch;
	text-indent: -3ch;
}
