@import url('FiraSans/font.css');
@import url('DejaVuSansMono/font.css');

body {
	margin: 0em;
	font-family: 'Fira Sans';
}

li {
	list-style-type: none;
}

li:before {
	content: "–";
	position: absolute;
	left: 0.7em;
}

ul {
	position: relative;
	padding-left: 2em;
}

body.slideshow {
	font-size: 2vw;
}

.slide, .toc, .help {
	margin: 0em;
	padding: 0em 1em;
}

.slideshow .toc, .help {
	color: white;
	background-color: #22a;
	padding-top: 0.2em;
	padding-bottom: 0.2em;
}

.slideshow .toc ul {
	margin: 0em;
	padding-left: 1.5em;
	list-style-type: none;
}

.slideshow .toc > ul {
	padding-left: 0em;
}

.slideshow .toc li:before {
	content: none;
}

.slideshow .toc h1 {
	display: none;
}

.slide-number {
	float: right;
}

.handout .slide-number, .slideshow .help {
	display: none;
}

.handout .slide {
	border-top-style: solid;
	border-top-width: 2px;
	border-top-color: #22a;
}

.code {
	counter-reset: line-number;
}

.code .line {
	counter-increment: line-number;
	line-height: 1.2em;
}

.code .content {
	padding-left: 3ch;
	text-indent: -3ch;
}

.code .line:before {
	content: counter(line-number);
	color: gray;
	text-align: right;
	margin-right: 2ch;
	min-width: 5ch;
}
