<pre class="code">{{#lines}}<span class="line"><span class="block" style="padding-left: {{indentation_width}}ch;">{{#indentation}}<span class="indentation">{{{.}}}</span>{{/indentation}}<span class="content">{{{content}}}</span></span></span>{{/lines}}</pre>
