<pre class="code">{{#lines}}<span class="line"><span class="number" /><span class="content" style="padding-left: {{indentation_width}}ch;">{{#indentation}}<span class="indent">{{{.}}}</span>{{/indentation}}<span class="text">{{{content}}}</span></span></span>{{/lines}}</pre>
