<pre class="code">{{#lines}}<span class="line"><span class="block" style="padding-left: {{indentation_width}}ch;"><span class="content">{{#indentation}}<span class="indentation">{{{.}}}</span>{{/indentation}}{{{content}}}</span></span></span>{{/lines}}</pre>
