<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>Slide Shows in XHTML</title>
		{{{headers}}}
		<script type="text/javascript"><![CDATA[
			$(upshot);
		]]></script>
	</head>
	<body>
		{{#slides}}
			<div class="toc">
				{{>toc_node}}
			</div>
			{{>slide_node}}
		{{/slides}}
	</body>
</html>
